/**********************/
/*Global Elements*/
/**********************/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-container{
    display: grid;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/**********************/
/*Sidebar Section*/
/**********************/
.sidebar{
background: rgb(0, 157, 255);
grid-row: 1/4;
display: flex;
flex-direction: column;
gap: 15px;
padding-left: 20px;
padding-top: 20px;
}

.logo{
    font-size: 24pt;
}

.nav,
.nav-second{
    display: flex;
    flex-direction: column;
    gap:15px;
    padding: 25px 0;
}

.nav-link{
    display: flex;
    align-items: center;
    gap: 12px;
}

/**********************/
/*Searchbar Section*/
/**********************/
.search{
    background: rgb(255, 255, 255);
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgb(106, 106, 106);
    padding:1px 25px;
}

.searchbar{
    width: 60%;
}

input[type="search"]{
    border: 0;
    background: rgb(227, 227, 227);
    border-radius: 15px;    
    width: 70%;
    height: 100%;
}

.search-top,
.search-bottom{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}

.searchbar>img{
    filter: invert(100%);
}

.searchbar,
.profile-info,
.user-hello,
.user-post{
    display: flex;
    align-items: center;
}

.profile-info{
    gap: 15px;
}

button{
    color: white;
    background-color: rgb(27, 27, 230);
    border: 0;
    border-radius: 25px;
    font-weight: bold;
    padding: 12px 5px;
}

.profile-info p,
.search-bottom p{
    font-weight: bold;
}

.avatar-small{
    width: 32px;
    height: 32px;
}

.avatar{
    width: 48px;
    height: 48px;
}

.user{
    font-size: 18pt;
}

.user-hello{
    gap: 15px;
}

.user-post{
    width: 40%;
    gap: 25px;
    justify-content: end;
    flex-grow: 1;
}

/**********************/
/*Content Section*/
/**********************/
.dashboard-content{
    background: rgb(227, 227, 227);
    grid-column: 2/4;
    grid-row:3/4;
    padding: 20px;
}

.content-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
}

.projects> p{
    font-weight: bold;
    padding-bottom: 8px;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.card{
    background: white;
    border-left: 10px solid rgb(255, 179, 0);
    border-radius: 10px;
    width: 300px;
    padding: 15px;
    box-shadow: 5px 5px 5px rgb(106, 106, 106);
}

.card ul{
    display: flex;
    padding-top: 35px;
    gap: 12px;
    justify-content: end;
}

.project-title{
    font-weight: bold;
}

.social{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.announcements> p,
.trending> p{
    font-weight: bold;
    margin-bottom: 8px;
}

.announce-list, 
.trends{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
    border-radius: 10px;
    width: 250px;
    padding: 25px;
    box-shadow: 5px 5px 5px rgb(106, 106, 106);
}

.announce-list li{
    border-bottom:1px solid grey;
    padding-bottom: 8px;
}

.announce-list li:last-child{
    border-bottom: 0;
}

.trends li{
    display: flex;
    gap: 8px;
    align-items: center;
}

.announce-title,
.trending-person{
    font-weight: bold;
}