/**********************/
/*Global Elements*/
/**********************/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-container{
    display: grid;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/**********************/
/*Sidebar Section*/
/**********************/
.sidebar{
background: rgb(0, 157, 255);
grid-row: 1/4;
display: flex;
flex-direction: column;
gap: 15px;
padding-left: 20px;
padding-top: 20px;
}

.logo{
    font-size: 24pt;
}

/**********************/
/*Searchbar Section*/
/**********************/
.search{
    background: rgb(255, 255, 255);
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgb(106, 106, 106);
}

.search-top,
.search-bottom{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}

.searchbar>img{
    filter: invert(100%);
}

button{
    color: white;
    background-color: rgb(27, 27, 230);
    border-radius: 25px;
    font-weight: bold;
    padding: 12px 5px;
}

/**********************/
/*Content Section*/
/**********************/
.dashboard-content{
    background: rgb(227, 227, 227);
    grid-column: 2/4;
    grid-row:3/4;
    padding: 20px;
}

.content-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
}

.projects> p{
    font-weight: bold;
    padding-bottom: 8px;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.card{
    background: white;
    border-left: 10px solid rgb(255, 179, 0);
    border-radius: 10px;
    width: 300px;
    padding: 5px;
    box-shadow: 5px 5px 5px rgb(106, 106, 106);
}

.project-title{
    font-weight: bold;
}

.social{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.announcements> p,
.trending> p{
    font-weight: bold;
    margin-bottom: 8px;
}

.announce-list, 
.trends{
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    width: 250px;
    padding: 25px;
    box-shadow: 5px 5px 5px rgb(106, 106, 106);
}

.announce-list li{
    border-bottom:1px solid grey;
}

.announce-list li:last-child{
    border-bottom: 0;
}

.announce-title,
.trending-person{
    font-weight: bold;
}